<!doctype html>
<!--NOTE: the base.html is directly under /templates-->
<!--'Remedies' shown in the tab of explore-->
<title>{% block title %}{% endblock %} - Remedies</title>
<!--static file could be logo and JavaScript functions, in addition to css to define format-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--first section of layout start from here-->
<nav>
  <!--nav: navigation to other pages-->
  <h1 style="margin-left: 6em;">南无药师琉璃光如来</h1>
  <ul>
    <!-- g and url_for are automatically available-->
    {% if g.user %}
    <li><span>{{ g.user['username'] }}</span>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
    <li><a href="{{ url_for('auth.register') }}">Register</a>
    <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
  </ul>
</nav>
<!--without url_for, other path will be wrong e.g., auth/static/images/main_pic.png -->
<img style="max-width: 90%; height: auto;" src="{{ url_for('static', filename='images/main_pic.png') }}"
  alt="Main Image" class="center">
<!--contents of other .html to fill here-->
<section class="content">
  <header>
    <!--block here will be replaced by block in other html (register.html, login.html), via extends function-->
    {% block header %}{% endblock %}
  </header>
  <!--After the page title, and before the content, the template loops over each message returned by get_flashed_messages-->
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <!--block here will be replaced by block in other html (register.html, login.html), via extends function-->
  {% block content %}{% endblock %}
</section>